

.contacto{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;


  
}

.contacto>h2{
    margin-top: 120px;
    font-size: 200px;
    text-align: center;
    

  
}


@media screen and (max-width: 767px) {
    .contacto>h2{
         margin-top: 200px;
      font-size: 50px;
    }
}
